@CHARSET "ISO-8859-1";
body{
	margin:0;
	background: #164f55;
	font-family:Verdana, Geneva, sans-serif; 
	font-size:11px; 
	line-height:20px; 
    text-align: justify;
    color:#f7c439;
}

hr{
	border:none;	
	border-top:1px #FFCC33 solid;
	height: 1px;
	background-color: #FFCC33;
}

div.main,
div.header{
	margin-left:auto;
	margin-right:auto;
}

div.main{
	overflow:auto;
	width:980px;
	clear:both;
}

div.header{
	position:relative;
	margin:auto;
	margin-top:40px;
	padding-bottom:35px;
	border:0px solid;
	width:300px;
	
}

div.title{
	position:relative;
	border:0px solid;
	color:#fff;
	margin:auto;
	width:220px;	
	text-align:left;
}

div.login{
	position:relative;
	padding-left:10px;
	width:200px;
	border:0px solid;
	color:#fff;
	z-index:9999;
	float:left;
}

div.title .desc{
	width:180px;
	text-align:justify;
	font-family:Verdana, Geneva, sans-serif; 
	font-size:9px; 
}

div.contacts, div.outlinks{
	border:0px solid;
	width:200px;
	padding-left:10px;
	left:0px;
	float:left;
}

div.outlinks, span.extlinks{
	margin-left:4px;
	float:left;
}

div.contacts{
	text-align:left;	
}


div.article{
	position:relative;
	width:500px;
	border:0px solid;
	margin-top:30px;
	margin-left:235px;
}

div.article span.title{
	padding-left:5px;
	font-family:Verdana, Geneva, sans-serif; 
	font-size:20px;
	text-transform:uppercase; 	
	color:#FFF;
}

div.article div.news_desc,
div.article div.news_title{
	padding-left:5px;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
}

div.article div.news_title{
	color:#FFCC33;
	cursor:pointer;
	}


div.article div.news_title{
	font-size:11px;
}

div.article div.news_desc{
	font-size:10px;
	text-align:justify;
}


div.footer{
	padding-left:5px;
	padding-right:5px;
	width:970px;
	margin-left:auto;
	margin-right:auto;
	border:0px solid;	
	color:#FFF;
	text-align:right;
}

table{
	font-family:Verdana, Geneva, sans-serif; 
	font-size:12px; 
}

table.informations{
	border-width:1px;
	border-color:#f7c439;
	border-style:solid;
	background-color:#EDDA74;
	font-family:Verdana, Geneva, sans-serif; 
	font-size:11px; 
	color:#164f55;
}

table.informations a{
	color:#164f55;
}

table.informations a:hover{
	color:#000;
}

input {
	font-size:12px;
	border:solid;
	border-width:1px;
	border-color:#AAA;
 }
 
a{
	color:#FFF;
}

a:hover{
	color:#FFFCCC;
}