@CHARSET "ISO-8859-1";
body {
	background:#fff; 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:11px; 
	line-height:16px; 
	color:#545353;
	}

table.informations{
	background-color:#164f55;
	color:#FFFFFF;
}

table.main{
	border-collapse:collapse;
	background-color:#EEEEFF;
	table-layout:fixed;
	border-width:1px;
	border-color:#164f55;
	border-style:solid;
	border-spacing:0px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

table.insert{
	border-width:0;
}

table.admin{
	border-spacing:0px;
	border:0px solid;
	padding-left:0px;
	padding-bottom:10px;
	float:left;
	
}

.list{
	font-size:10px;
	padding-left:5px;
	text-align:center;
	
	}
	
tr.headers {
	background-image: 
		-webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.23, rgb(22,79,85)),
	    color-stop(0.6, rgb(61,120,125))
	);
	background-image: 
		-moz-linear-gradient(
	    center bottom,
	    rgb(22,79,85) 23%,
	    rgb(61,120,125) 60%
	);
	color:#FFF;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


td.options{
	color:#FFF;
	padding:5px;
	text-align:left;
	}

td {
    text-align:left;
    padding-left:0px;
}

td.results {
	vertical-align:bottom;
    text-align:left;
    font-family:sans-serif;
    font-size:10px;
    padding-left:4px;
    padding-right:4px;
    border:0px solid;
    border-color:#EEEEFF;
}

td.headers{
	text-align:center;
    font-family:sans-serif;
    font-size:11px;
    color: #FFFFFF;
    padding-left:2px;
}

td.headers a{
    color: #F7C439;
	
}
td.headers a:hover{
    color: #FFF8C6;
	
}

td.headers div.comments{
	display:none;
	position:absolute;
	height:auto;
	width:auto;
	border-style:solid;
	border-width:1px;
	background-color:#FFFF99;
	z-index:99;
	padding:3px;
	color:#164f55;
}

td.fields {
    width:100px;
    text-align:right;
    font-weight:bold;
    
}

td.tables {
    font-size:14px;
    text-align:center;
}

td.cart{
	font-size:14px;
	padding:2px;
}

input.reg {
	font-size:11px;
	background:#FFFFFF;
	border:0px;
	border-width:1px;
	border-color:#AAA;
 }
 
input.fk {
	font-size:11px;
	background:#FFF8C6;
	border:0px;
	border-width:1px;
	border-color:#AAA;
 }
 
div.add {
	margin-left:auto;
	margin-right:auto;	

 } 
 
tr.reportsDivHeader{
	background-color: #FFFF66;
} 
 
form.reportsForm{
	border: 2px solid #339999;
	padding: 5px;
	background-color: #66CC66;
}
 
hr{
	border:none;	
	border-top:1px #FFCC33 solid;
	height: 1px;
	background-color: #FFCC33;
	
	}
	
div.regular{
	display:none;
	position:absolute;
	border-style:solid;
	border-width:1px;
	background-color:#CCCC99;
	z-index:99;
	padding:3px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
	
div.detailsTree{
	display:none;
	position:relative;
	border-style:solid;
	border-width:1px;
	background-color:#CCCC99;
	z-index:99;
	padding:3px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}

div.sidebar{
	display:none;
	position:relative;
	border-style:solid;
	border-width:1px;
	background-color:#CCCC99;
	z-index:99;
	padding:3px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}	
	
div.details{
	display:none;
	position:absolute;
	border-style:solid;
	border-width:1px;
	background-color:#EDDA74;
	z-index:99;
	padding:3px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	}
	
div.info{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:130px;
	overflow:auto;
	background-color:#164f55;
	border-style:solid;
	border-color:#f7c439;
	border-width:1px;
	padding:1px;
	display:none;
	
	}
	
div.error{
	background-color:#FFCC99;
	border:1px solid #FF0000;
	text-align:center;
	
	}
	
input[type=button]{
	font-family:Verdana, Geneva, sans-serif; 
	font-size:11px; 
	height:22px;
	color:#444;
	}
	
input[type=button].callTables{
	margin-right:5px;
	width:170px;
	text-align:left;
	background-position: left;
	background-repeat: no-repeat;
	padding-left:25px;	
	}

iframe.gridDisp{
	width:1080px;
	height:800px;
	border:0px;
}

ul.list{
	list-style:none;		
}

/* =Container
---------------------------------------------------------------------------------------------------- */

#container
{
	margin: 0 auto;
	width: 500px;
}

/* =Cloning Functionality
---------------------------------------------------------------------------------------------------- */

.deleteMe
{
	display: none;
}

.duplicate .deleteMe
{
	display: inline;
}

.duplicate .cloneMe
{
	display: none;
}

span.tab
{
	background: #ffc;
	border-color: #999;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	display: block;
	padding: 5px 0 7px;
	position: absolute;
	top: -1px;
	right: -26px;
	text-align: center;
	width: 25px;
}

span.tab a.cloneMe
{
	background: #fff;
	border: 1px solid #3c3;
	color: #090;
	padding: 0 3px 2px;
	text-decoration: none;
}

span.tab a.cloneMe:hover
{
	background: #cfc;
	color: #000;
}

span.tab a.deleteMe
{
	background: #fff;
	border: 1px solid #f66;
	color: #f00;
	padding: 0 4px 2px;
	text-decoration: none;
}

span.tab a.deleteMe:hover
{
	background: #fdd;
	color: #000;
}

