div.account{
	background-color:#CCC;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px double;
	border-color:#AAA;
	padding:5px;
	font-family:Verdana, Geneva, sans-serif; 
	font-size:12px; 
	line-height:20px; 
	display:block;
	width:400px;
	height:310px;
	display:block;
}

ul.list{
	text-align:left;	
	
}